
.badge {
width: 200px;
height: 200px;
}

div.scrollmenu {
    background-color: #ff0000;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  